@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 180vh;
  display: flex;
  background-color: beige;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
